# Numbers in Python

In [1]:
num = 3
print(type(num))

<class 'int'>

In [2]:
num = 3.14
print(type(num))

<class 'float'>

**Following are some arithmetic operators in python:**
1. Addition:         3 + 2
2. Subtraction:      3 - 2
3. Multiplication:   3 * 2
4. Division:         3 / 2
5. Floor Division: 3 // 2
6. Exponent:         3 ** 2
7. Modulus:          3 % 2

In [3]:
print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2)

5
1
6
1.5

#### // is Floor Division and it drops the decimals part of the value and just keeps the integral part

In [4]:
print(3 // 2)

1

#### ** is Exponent and (x ** y) means x<sup>y</sup>

In [5]:
print(3 ** 2)

9

#### % is Modulus and x % y gives the remainder after division (x / y)

In [6]:
print(3 % 2)

1

In [7]:
print(3 * 2 + 1)
# In the normal order of operations, we will multiply 3 and 2 and get 6 and then add 1 to it = 7

print(3 * (2 + 1))
# Now we will perform the operations inside bracket and get 3 then multiply it with 3 = 9

7
9

In [8]:
# Incrementing a value:
num = 1
num = num + 1
print(num)

2

In [9]:
# Another way to increment the value is using shorthand operators:
num = 1
num += 1
print(num)

2

**Above method of shorthand operators works with all other operators**

In [10]:
num = 1
num *= 10
print(num)

10

**abs() is a built in function that returns the absolute value of the passed value, i.e., it removes the negative sign from that passed value**

In [11]:
num = -3
print(abs(num))

3

**round() is a built in function that rounds the passed value to nearest integer by default. If we pass one more argument, it will round the number till that decimal place**

In [14]:
print(round(3.3456))
print(round(3.3456, 4))
print(round(3.3456, 3))
print(round(3.3456, 2))
print(round(3.3456, 1))

3
3.3456
3.346
3.35
3.3

**Following are some arithmetic operators in python:**
1. Equal:         3 == 2
2. Not Equal:      3 != 2
3. Greater Than:   3 > 2
4. Less Than:         3 < 2
5. Greater Than or Equal To: 3 >= 2
6. Less Than or Equal To:         3 <= 2

**The operators return True or False according to the result of comparison**

In [16]:
num1 = 3
num2 = 2

In [17]:
print(num1 == num2)

False

In [18]:
print(num1 != num2)

True

In [19]:
print(num1 > num2)

True

In [21]:
print(num1 < num2)

False

In [22]:
print(num1 >= num2)

True

In [23]:
print(num1 <= num2)

False

In [25]:
num1 = '100'
num2 = '200'

print(num1 + num2)
# Here both num1 and num2 are strings, hence the result 100200 but we needed 300 so we need to typecast the values
# to integer

num1 = int(num1)
num2 = int(num2)
print(num1 + num2)

100200
300